<table class="table" class="table table-dark" >
    <tr>
      <td> <label>Interest Rate : 20%</label></td>
     
   </tr>
   <tr>
      <td> <label>Percentage :10% </label></td>
    
      </tr>
      <tr>
          <td> <label>Put in and withdrawl : Always possible </label></td>
        
          </tr>
          <tr>
              <td> <label>Minimal investment : none </label></td>
            
              </tr>
              <tr>
                  <td> <label>Duration : unlimited </label></td>
                
                  </tr>
</table>
